body{
    background-color: beige;
}
.flex{
    display: flex;
    border: 1px solid black;
    background-color: rgb(132, 155, 155);
    padding: 20px;
}
.caja{
    border: 1px solid black; /*Borde del archivo*/
    background-color: white; /*Fondo de color del archivo*/
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 120px;         /*Ancho del archivo*/
    height: 120px;        /*Altura del archivo*/
    line-height: 120px;
    text-align: center;
    margin: 10px;
}