header{
    display:flex;
    height: 60px;
    background-color: aqua;
    justify-content:space-between;
    align-items: center;
    
}

.iconn{

    display: flex;
}
.icon{
    height: 60px;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: black;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color:white;
}

body{
    font-family: Georgia;
    margin: 0%;
}