
body{
    font-family: Georgia;
    margin: 0%;
}

header{
    display:flex;
    height: 60px;
    background-color: aqua;
    justify-content:space-between;
    align-items: center;
    
}

.iconn{

    display: flex;
}
.icon{
    height: 60px;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: black;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color:white;
}

.content1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
}

h2{
    text-align: center;
}
img{
    width: 150px
    ;
}
.content2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(68, 65, 243);
}

.content3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(16, 182, 113);


}

.content4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(136, 64, 218);
}


.content5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(190, 204, 65);
}


.content6{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(243, 74, 74);
}

.content7{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(219, 166, 52);
}

.content8{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(232, 62, 238);


}
.content9{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(57, 212, 240);
}
.content10{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(235, 96, 96);

}
